.l-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: grey;
    font-size: 16px;
    height: 82px;
}

.editor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #3f51b5;
    position: absolute;
    height: 50px;
    width: 100%;
    border-radius: 8px; 
    background-color: whitesmoke;
}

.avatar {
    border: 2px solid #3f51b5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.edit {
    font-size: 16px;
    color: #3f51b5;
}

.edit:hover { 
    cursor: pointer;
}

.detail {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.detail-card {
    width: 300px;
    height: 200px;
    background-color: #ededed;
    border-radius: 8px;
}