<div style="position: relative; ">
  <div>
    <app-button (onClick)='addRow()'></app-button>
  </div>
  <div class="table">
    <div 
      *ngFor='let item of items; index as i; trackBy:id'
      [@fadeExplainMotion]='animation'
      [@.disabled]="isIniting" 
    >
      <div class="l-row">
        <div>{{item.id}}</div>
        <div class="avatar">
        </div>
        <div>
          <div>Основной счет</div>
          <div class="lessor">Получатель</div>
        </div>
        <div>
          <div class="price">123 000 ₽</div>
          <div >Платеж поставщику</div>
        </div>
        <a class="edit" (click)='rowClick($event, i)'>Редактировать</a>
        <app-button textAction='' text='Удалить' (onClick)='remove(item)'>
          
        </app-button>
        <app-button textAction='' text='Подробно' (onClick)='detail($event)'></app-button>
      </div>
    </div>
  </div>
</div>

<div *ngIf='showDetail' [@listEnterMotion]='animatiomList' class="detail">
  <div  *ngFor='let item of details; index as i; trackBy:id'>
    <div class="detail-card">
      <div>
        
      </div>
    </div>
  </div>
</div>

<ng-container  *ngIf='edit'>
  <div [@fadeEdit]='edit' [style.top]='editTop' [style.width]='editWidth' class="editor">
    <div >
      <app-button textAction='' text='Применить' (onClick)='accept()'></app-button>
    </div>
    <div>
      <input />
    </div>
    <div>
      <input />
    </div>
  </div>
</ng-container>